.product-gallery
  .mb-20
    = image_tag book.general_image || 'blank.svg', class: 'img-responsive product-gallery__image'
  .images.clearfix.product-gallery__thumbs
    - book.images_gallery_thumbs.each do |image, thumb|
      = link_to image, class: 'img-link' do
        = image_tag thumb
