%main.container
  %h1.general-title-margin Сatalog
  .hidden-xs.clearfix
    = render 'sort'
    %ul.list-inline.pt-10.mb-25.mr-240
      = render 'categories', cached: true

  .mb-120
    #books
      = render 'books'
      
    #paginator.text-center
      = link_to_next_page @books, 'View More', remote: true, id: 'view_more', class: "btn btn-primary"
